<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">    

	<link rel="icon" href="/favicon.ico" type="image/x-icon">    
	<title>
		{{ site.name }}
	</title>
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
	<!-- Adding Twitter Bootstrap & Fontawesome CDN -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Lato:300' rel='stylesheet' type='text/css'>
        
	<style>
		body{
		background-color:rgb(249, 249, 249); 
		font-family: 'Lato','Source Sans Pro', 'sans-serif';
		font-size: 20px;
		}
		
		#newcolor{
		color:rgb(214, 42, 73);
		}
	</style>
    </head>
    <body>
        <div class="container">
                <h1><a href="/">Pakoman</a></h1>
        	<ul class="list-inline">
  			<li><a href="/"><i class="fa fa-home fa-3x"></i></a></li>
			<li><a href="/">About</a></li>
		</ul>
		<blockquote class="blockquote-reverse"><p><i class="fa fa-quote-left fa-2x"></i>  He who learns but does not think, is lost! He who thinks but does not learn is in great danger</p><footer>Confucius</footer> </blockquote>

        	<div class="row text-center newcolor">
			<div class="col-md-6"><a href="/"><i class="fa fa-code fa-3x"></a></i></div>  			
			<div class="col-md-6"><a href="/"><i class="fa fa-heart fa-3x"></a></i></div>  			
		</div>
		<div class="row">
			<div class="col-md-6">{{ content }}</div>	
			<div class="col-md-6">{{ content }}</div>	
		</div>
		<hr>
		<div class="row text-center">
			<div class="col-md-6"><a href="/"><i class="fa fa-magic fa-3x"></a></i></div>  			
			<div class="col-md-6"><a href="/"><i class="fa fa-male fa-3x"></a></i></div>  			
		</div>
		<div class="row">
			<div class="col-md-6">{{ content }}</div>	
			<div class="col-md-6">{{ content }}</div>
		</div>


          <hr>
	  </div>	
          <div class="container">
		<table class="table">
			<tr>		
			<td><a href="https://github.com/kpavankotesh"><i class="fa fa-github fa-2x"></a></td>
			<td><a href="https://youtube.com/kpavankotesh"><i class="fa fa-youtube-play fa-2x"></a></td>			
			<td><a href="https://twitter.com/kpavankotesh"><i class="fa fa-twitter fa-2x"></a></td>	
			<td><a href="https://facebook.com/kpavankotesh"><i class="fa fa-facebook fa-2x"></a></td>
			<td><a href="https://youtube.com/kpavankotesh"><i class="fa fa-google-plus fa-2x"></a></td>
				
			</tr>				
		</table>
                       
          </div>
        	
    </body>
</html>
